/************************/
/* below 1334px small laptops */
/************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  
  .hero-title {
    font-size: 4.4rem;
  }
  
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/************************/
/* below 1200px landscape tablets */
/************************/
@media (max-width: 75em) {
  html {
    font-size: 56%;
  }
  
  .sub-title {
    font-size: 3.2rem;
  }
  
  .gap {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  
  .hero {
    gap: 4.8rem;
  }
  
  .main-nav-list {
    gap: 2.4rem;
  }
  
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}